@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


main {
    padding: 20px;
    max-width: 816px;
    margin: 0 auto;
    margin-top: 3vh;
    /* Center the content */
    background-color: rgba(0, 0, 0, 0.7);
    /* Optional: add a semi-transparent background */
    border-radius: 10px;
    /* Optional: add rounded corners */
    color: black;
}

#pdfholder {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
}


/* ============= ONE HZ =============== */

#onehz {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#EAMOPS {
    display: flex;
    flex-direction: column;
}

.onehzinput>input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin-left: 5px;
    font-weight: bold;
}

#SCBvar {
    width: 50px;
}

#CAOvar {
    width: 120px;
}

#SRPvar {
    width: 75px;
}

#wideamops {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 60, 255);
    font-size: 50px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0;
    line-height: 0.8;
    margin-bottom: 5px;
}

.onehzinput {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
}

h3 {
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
}


#logoimg {
    padding-top: 2px;
    width: 100px;
}


/* ============= TWO HZ =============== */

#twohz {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid;
    border-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#twohzleftcluster {
    width: 100%;
    margin-right: 10px;
}

#local {
    width: 100%;
    margin-bottom: 10px;
}

#weatherAlert {
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

#weather {
    width: 100%;
    margin-right: 10px;
}

#wxwatch {
    height: 60px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: left;
}

td {
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}


td>input[type="text"] {
    width: 100%;
    border: none;
    padding: 0px;
    padding-left: 3px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

input[type="text"]:focus {
    z-index: 10;
}

.twohzlabel {
    background-color: lightgray;
    text-align: right;
    font-weight: bold;
    font-size: 10px;
    width: 60px;
    padding-right: 1px;
}

#weather .twohzlabel {
    width: 100px;
}

#other .twohzlabel {
    width: 20px;
    text-align: center;
}

.wxinsidetable td {
    border: none;
}

.wxinsidetable tr:first-child td {
    border-bottom: 1px solid black;
}


#weather .wxampm {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    width: 20px;
}

#alert {
    width: 180px;
    margin-bottom: 10px;
}


#priobox {
    border: 1px solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
}

#priobox ol {
    margin-left: 0px;
    padding-left: 15px;
    /* Indentation for the numbered list */
}

#prioOL {
    margin-top: 3px;
    margin-bottom: 1px;
}

#priobox ol ol {
    margin-left: 0px;
    padding-left: 15px;
}

#priobox p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#alertSpotKey {
    overflow: visible;
}

#spotoutline {
    margin-right: -130px;
    width: 277px;
    border: 1px solid black;
    padding: 3px;
}

#spotoutlineright {
    margin-top: 27px;
}

#spotoutline ul,
#spotoutlineright ul {
    font-size: 10px;
    padding-left: 0px;
    margin: 0px;
}

/* ============= THREE HZ =============== */

#threehz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

#dynamicTable {
    width: 100%;
    border-collapse: collapse;
}

/* Additional styling for table */
#dynamicTable td {
    padding: 0px;
    text-align: left;
    font-size: 10px;
}

#dynamicTable th {
    text-align: center;
    background-color: lightgrey;
    font-size: 10px;
}

#dynamicTable td input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    position: relative;
    z-index: 1;
}

#dynamicTable td input:focus {
    z-index: 10;
}

/* Set specific widths for each column */
#dynamicTable th:nth-child(1),
#dynamicTable td:nth-child(1) {
    width: 5%;
    /* First column width */
}

#dynamicTable th:nth-child(2),
#dynamicTable td:nth-child(2) {
    width: 5%;
    text-align: center;
    /* Second column width */
}

#dynamicTable th:nth-child(3),
#dynamicTable td:nth-child(3) {
    max-width: 10%;
    /* Third column width */
}

#dynamicTable th:nth-child(4),
#dynamicTable td:nth-child(4) {
    width: 5%;
    /* Fourth column width */
}

#dynamicTable th:nth-child(5),
#dynamicTable td:nth-child(5) {
    width: 75%;
    /* Fifth column width */
}

.custom-dropdown {
    background-color: lightgray;
    position: absolute;
    color: black;
    outline: 1px solid black;
}

.spot-text {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 10px;
}