body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-image: url(../resources/eielson.JPG);
}

header {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    justify-content: space-between;
}

header img {
    width: 150px;
    margin: 10px;
}

header h1 {
    align-self: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    background-color: #555;
}


.backgrounddiv {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.formcontainer {
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 2vw;
    margin-top: 10vh;
    padding: 2vw;
    width: fit-content;
    height: fit-content;
    align-items: center;
}


.forminput {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.fpinput {
    width: 20vw;
    height: 5vh;
}

#fpinputdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.submit {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 3vh;
}

.opwrap {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #d3d6db;
    padding: 0.25vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 1vw;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.outputtext {
    transform: scale(0);
    width: 0px;
}

.copyicon {
    display: flex;
    align-self: flex-start;
    justify-self: end;
    width: 0.75vw;
    opacity: 0.4;
}