main {
    padding: 20px;
    max-width: 800px;
    /* Restrict the width of the content */
    margin: 0 auto;
    margin-top: 3vh;
    /* Center the content */
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional: add a semi-transparent background */
    border-radius: 10px;
    /* Optional: add rounded corners */
}

.contacts {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

#searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.phone-icon {
    width: 16px;
    /* Adjust size as needed */
    height: 16px;
    vertical-align: top;
}

#contactList {
    max-height: 600px;
    /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    /* Optional: add a border for better visibility */
    border-radius: 5px;
    /* Optional: add rounded corners */
    padding: 10px;
    /* Optional: add padding */
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional: add background color for contrast */
}

.contact-card {
    background-color: #444;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.contact-card h3 {
    margin: 0;
}

.contact-card p {
    margin: 5px 0;
}

.contact-card .additional-info {
    display: none;
}

.contact-card .toggle-info {
    cursor: pointer;
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
}

.company-name {
    font-size: 0.8em;
    /* Smaller text */
    font-style: italic;
    /* Italicize text */
    font-weight: normal;
    /* Ensure text is not bold */
    margin-bottom: 10px;
    /* Add more space between company name and contact name */
}